.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 2%;
    flex: 30%;
    border: black 1px solid;
    border-radius: 10px;
    background-color: gray;
    padding: 10px 10px;
}


.container h2 {
   height: 20%;
    margin:0;

}

.container img {
    border-radius: 50%;
}