.container {
    display: flex;
    border: black 1px solid;
    border-radius: 10px;
    height: 100%;
    background-color: gray;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.container h3 {
    margin: 0;
    padding: 10px 0;
}

.container img {
    border-radius: 50%;
}
.container .moveDown input {
    width: 90%;
}
.moveDown {
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.container .moveDown button {
    margin-top: 5px;
    width: 50%;
    padding: 2px 2px;
    margin-bottom: 5px;
}